@model IEnumerable<Project_8_MVC_Batool.Cours>
<br />
<br />
<br />
<div style="margin:50px 0 ;text-align:center">
    <h2>
        <span style="color: green;text-align:center">Course Registration</span>   <br />
    </h2>
</div>

<head>
    <script src="path/to/sweetalert.min.js"></script>
    <link rel="stylesheet" href="node_modules/sweetalert/dist/sweetalert.css">
    <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="path/to/sweetalert.css">
    <script src="path/to/sweetalert.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />

    <style>
        #conf {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            box-shadow: 5px 5px 10px gray;
            padding: 100px 200px;
            border-radius: 20px;
            transform: translate(-50%,-50%);
            background-color: white;
            cursor: pointer;
        }

            #conf span {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                background-color: black;
                border-radius: 50%;
                transform: translate(50%,-50%);
            }
    </style>
</head>


@*<div id="conf"> Time Conflict <span id="exit">X</span></div>
    @if (TempData["Message"] != null)
    {


        <script>
            document.getElementById("conf").style.display = "block";
            document.getElementById("exit").onclick = () => {
                console.log("zsgzsdg")
                document.getElementById("conf").style.display = "none";
            }

           /* alert("You are register this course before");*/
        </script>
    }*@

@if (TempData["Message1"] != null)
{
    <div class="alert alert-warning">
        <strong>Warning !</strong> @TempData["Message1"]
    </div>
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">
        <strong>Warning !</strong> @TempData["Message"]
    </div>
}

@if (TempData["notEnough"] != null)
{
    <div class="alert alert-warning">
        <strong>Warning !</strong> @TempData["notEnough"] , @TempData["Balance"]
    </div>
}

@if (TempData["add"] != null)
{
    <div class="alert alert-success">
        <strong>Successfully !</strong> @TempData["add"]
    </div>
}



@if (TempData["remove"] != null)
{
    <div class="alert alert-warning">
        <strong>Warning !</strong> @TempData["remove"]
    </div>
}
@*@if (TempData["notEnough"] !=null)

            {
      <script>
        alert("You are register this course before");
    </script>

            }*@
<div class="container col-8" style="width:89%!important ; ">


    @{
        ViewBag.Title = "CourseRegist";
        Layout = "~/Views/Shared/_DashBoardUser.cshtml";

    }
    <style>
        table tr td {
            width: 100px;
        }
    </style>





    @*if (ViewBag.message == null)
        {
            <script>
            $(function() {
            swal("@TempData["Message"]");
        });

            alert(TempData["Message"]);
            </script>
        }*@



    <div style="display:block" id="div1">

        @Html.Action("courseScudule")
        <br /><br />
        <button onclick="toggleDivs()" style="margin-left: 46%; background-color: #51be78; color: white; padding: 5px; border: 3px solid #51be78 ;border-radius:5px">Adoption</button>
        <br />
        <br />
        <div style="margin:50px 0 ;text-align:center">
            <h2>
                <span style="color: green;text-align:center">Courses</span>   <br />
            </h2>
        </div>
        <br />
        <table class="table table-striped " border="1">
            <tr>
                <th>
                    Course Name
                </th>

                <th>
                    course Time
                </th>
                <th>
                    course Day
                </th>

                <th>
                    Add course
                </th>
            </tr>

            @foreach (var item in Model)
            {
                int r = item.Times.Count() + 1;
                <table class="table ">
                    <tr>
                        <td rowspan="@r">
                            @Html.DisplayFor(modelItem => item.CourseName)

                        </td>
                    </tr>

                    @foreach (var sec in item.Times.ToList())
                    {
                        <tr>

                            <td>
                                @sec.Course_Time
                            </td>
                            <td>
                                @sec.Course_Day
                            </td>
                            <td>
                                <a href="AddCourse?secId=@sec.TimeID" class="btn btn-primary">add </a>
                            </td>
                        </tr>

                    }
                </table>

            }

        </table>

    </div>

</div>

<div style="display:none" id="div2">


    @Html.Action("courseScudule_Block")

</div>







<script>
    // JavaScript function
    function toggleDivs() {
        var div1 = document.getElementById("div1");
        var div2 = document.getElementById("div2");

        div1.style.display = "none";
        div2.style.display = "block";
    }
</script>